@inject GitAttributesWeb.Utils.AppData AppData

@{
    ViewBag.Title = "Create .gitattributes file for your project";
}

<div class="input-group">
  <input type="text" id="types">
  <div class="input-group-btn">
    <button id="btnGenerate" type="button" class="btn btn-info">Generate</button>
    <button id="btnDownload" type="button" class="btn btn-info">Download</button>
  </div>
</div>

<script>
  $(document).ready(function() {
    var types = $('#types');
    types.selectize({
      plugins: ['restore_on_backspace', 'remove_button'],
      inputClass: 'form-control selectize-input',
      options: @Html.Raw(AppData.FilesJson),
      placeholder: 'Select file types to generate gitattributes file',
      valueField: 'id',
      labelField: 'name',
      searchField: ['name'],
      delimiter: ',',
      persist: false,
      create: false,
      selectOnTab: true
    });

    $('#btnGenerate').on('click', function() {
      var typesValue = types.val();
      if (typesValue.length) {
        var uriEncodedFiles = encodeURIComponent(typesValue);
        window.location="/api/"+uriEncodedFiles;
      }
    });

    $('#btnDownload').on('click', function() {
      var typesValue = types.val();
      if (typesValue.length) {
        var uriEncodedFiles = encodeURIComponent(typesValue);
        window.location="/api/f/"+uriEncodedFiles;
      }
    });
  })
</script>
