@inject GitAttributesWeb.Utils.AppData AppData

@{
    ViewBag.Title = "Create .gitattributes file for your project";
}

<p>
  <input type="text" id="select">
</p>

<script>
  $(document).ready(function() {
    $('#select').selectize({
      plugins: ['restore_on_backspace', 'remove_button'],
      options: @Html.Raw(AppData.FilesJson),
      valueField: 'id',
      labelField: 'name',
      searchField: ['name'],
      delimiter: ',',
      persist: false,
      create: false,
      selectOnTab: true
    });
  })
</script>
