@{
    ViewBag.Title = "Create .gitattributes files for your project";
}

<p>Create <code>.gitattributes</code> files for your project.</p>

<p>
  <input type="text" id="select">
</p>

<script>
  $(document).ready(function() {
    $('#select').selectize({
      plugins: ['restore_on_backspace', 'remove_button'],
      delimiter: ','
    });
  })
</script>
